
<td style="width:20px;" obj-id="<%-obj.id%>" obj-tp="&lt;%-tp%&gt;">
  <div style="height:100%; width:100%; overflow: hidden;"> 
    <div style="float:left;"><a class="alert-name" href="#/scheduler/task-instances/<%-obj.id%>"><%- obj.name %></a><span class="alert-type">- <%- objtpHuman %></span><span class="alert-date">- <%- alertDate %> </span></div>
    <div style="float:right;"><span class="alert-msg"><%- msg %></span></div>
  </div>
  <div class="alert-detail" style="height:100%; width:100%; overflow: hidden;">
    <div class="alert-action" data-toggle="tooltip" title="Completed tasks"><a href="javascript:void(0);" name="run">Run again</a><a href="javascript:void(0);" style="padding-left:10px;" name="done">Make done </a></div>
    <div class="spinner hidden" style="float:left;">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</td>