
<div class="row"> 
  <div class="col-md-8 col-md-offset-2">
    <div class="box" style="border-top=0px;">
      <div class="box-header with-border">
        <h3 class="box-title">Alerts</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback table-search">
            <input class="form-control input-sm js-search" type="text" placeholder="Search"/><span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <div class="box-body no-padding">
        <div class="table-controls"><a class="btn btn-default btn-sm js-reload-btn" type="button"><i class="fa fa-refresh text-blue fa-lg"></i></a></div>
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody class="js-table-body"></tbody>
          </table>
        </div>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right"></ul>
      </div>
    </div>
  </div>
</div>