.row
  .col-md-12  
    .box.box-primary
      .box-header.with-border
        h3.box-title <%= title!=false ? title: 'Import' %>
      .box-body(style="min-height:320px")
        form(enctype='multipart/form-data', method='POST')
          .form-group
            input.js-import.file-loading(name='file', type='file', multiple='', data-overwrite-initial='false', data-min-file-count='1')
      .box-footer
        a.btn.btn-danger.js-cancel-btn Close