td(style="opacity:0.3;width:20px;border:0px; vertical-align:middle")
  span.pull-right
        i(class!="fa fa-lg <%= resultTypeIconCls %>")
td(style="border:0px")       
  div
    a(href="", style="font-weight:600 !important;") <%=name%>
  <% if(resultType == 'User') {%>
  div
    span(style="color:#c6bcbc") <%= result.username %>
  div
    span(style="color:#5b626d") <%= result.email %>
  <% } %>
  <% if(resultType == 'Group') {%>
  div
    span(style="color:#c6bcbc") <%= `Max parallel: ${result.parallel}` %>
  div
    <% if(result.connection) {%>
      span(style="color:#5b626d") <%= `Default connection: ${result.connection.name}` %>
    <%} %>
  <% } %>
  <% if(resultType == 'Task') {%>
  div
    span(style="color:#c6bcbc") owned by   
    a.search-owner(href="") <%= result.primaryOwner.username %>
  <% } %>
td(style="border:0px")
  <% if(resultType == 'Task') {%>
    div
      a.search-plan(href="") <%= result.plan.name %>
  <%}%>
td(style="border:0px")
  <% if(resultType == 'Task') {%>
    div
      a.search-primary-group(href="") <%= result.primaryGroup.name %>
  <%}%>
td(style="width:60px;border:0px")
  div
    span(style="color:#c6bcbc") <%= resultType %>

