.row
  .col-md-8.box-shadow.col-md-offset-2(style="background-color:#fff;")
    section
      .form-group(style="margin:10px 20px;")      
        input.typeahead.form-control(type="search", placeholder="Search", data-provide="typeahead", name="search", autocomplete="off",  autofocus=true, style="height:40px;border-radius:0px !important")
.row.hidden.js-search-result(style="margin-top:20px;")
  .col-md-8.box-shadow.col-md-offset-2(style="padding:0px;margin-bottom:20px;background-color:#fff;")
    table.table.table-hover
      tbody.js-search-table-body
    .box-footer.clearfix
      ul.pagination.pagination-sm.no-margin.pull-right  