td(style="width:20px")
  .checkbox.js-plan-checkbox
    input.styled(type='checkbox', value!='<%= id %>', aria-label='', name='connection-checkbox')
    label
td(style="width:20px")
  span(class!='<%= protect ? "fa fa-lg fa-shield text-red-plum":"" %>' data-toggle="tooltip" title="Protected")  
td
  a(href!='#/scheduler/plans/<%= id %>') <%- name %>
td.js-plan-parallel
  <%- parallel + " parallel" %>
td
  a(href!='#/scheduler/tasks?plan=<%=id%>') <%- `${stats.taskCount} task${stats.taskCount==1?'':'s'}` %>
td.connection-type
  <%- connection.name %> 
td
  span.label(class!='<%= active ? "label-success":"label-danger" %>') <%- active ? 'Active': 'Not Active'  %>
td   
  a.js-stats(href='javascript:void(0)' data-toggle="popover" model-id!='<%- id %>')
    i.fa.fa-bar-chart.text-green-fade.fa-lg
