.row 
  .col-md-8.col-md-offset-2
    .box(style="border-top=0px")
      .box-header.with-border
        h3.box-title Plans
        .box-tools.pull-right
          .has-feedback.table-search
            input.form-control.input-sm.js-search(type='text', placeholder='Search')
            span.glyphicon.glyphicon-search.form-control-feedback
      .box-body.no-padding
        .table-controls
          a.btn.btn-default.btn-sm.js-reload(type='button' data-toggle="tooltip" title="Refresh")
            i.fa.fa-refresh.text-blue.fa-lg
          a.js-new-plan.btn.btn-default.btn-sm(href='#/scheduler/plans/new' data-toggle="tooltip" title="New plan")
            i.fa.fa-plus.text-green.fa-lg
          a.btn.btn-default.btn-sm.js-import-btn(href='#/scheduler/plans/import' data-toggle="tooltip" title="Import")
            i.fa.fa-upload.text-yellow.fa-lg
          a.js-trash-btn.btn.btn-default.btn-sm.hidden( data-toggle="tooltip" title="Delete plan")
            i.fa.fa-trash-o.text-danger.fa-lg
          
          .dropdown.hidden.js-more-btn(style="display:inline;" name="more")
            button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | More
              span.caret
            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              li  
                a.js-run-task(href='javascript:void(0);') Run
              li.divider(role='separator')
              li.js-export-plan
                a(href='javascript:void(0);') Export Plan
              li.js-export-tasks
                a(href='javascript:void(0);') Export Tasks
              li.divider(role='separator')
              li.js-protect
                a(href='javascript:void(0);') Protect
              li.js-un-protect
                a(href='javascript:void(0);') Unprotect
              li.divider(role='separator')
              li.js-delete
                a(href='javascript:void(0);') Delete
              
        .table-responsive.connection-items
          table.table.table-hover
            tbody.js-plan-table-body
    
      .box-footer.clearfix
        ul.pagination.pagination-sm.no-margin.pull-right          
      
