div.no-connection
  div(style="width:230px;")
    i.fa.big-icon.text-danger.fa-calendar-check-o(style="text-align: center;")
  div(style="width: 230px;margin-top: 20px;")
    a.btn.btn-block.btn-primary.btn-lg.js-new-connection(href='#/scheduler/plans/new') Create Run Plan