bower_components
node_modules
backup
bin
*.html
playground
build/**
db
bin
build
.git
.settings
.vscode
.gradle
build
doc
app.todo
cSpell.json
gradlew*
octopus.script
.classpath
html/**
scripts
gradle/**
src/test/**
**stdout.log
.project
.swp
.private-docs
octopus.properties