bower_components
node_modules
backup
bin
*.html
!docs/**/*.html
playground
build/**
db
bin
build
.git
.settings
.vscode
.gradle
build
doc
app.todo
cSpell.json
gradlew*
octopus.script
.classpath
html/**
scripts
gradle/**
src/test/**
**stdout.log
.project
.swp
private-docs
/application.properties

.jekyll-metadata
.sass-cache