bower_components
node_modules
backup
bin
!docs/**/*.html
playground
build
build/**
!frontend/build
!frontend/build/**
db
bin
.git
.settings
.vscode
.gradle
doc
app.todo
cSpell.json
gradlew*
octopus.script
.classpath
html/**
scripts
gradle/**
src/test/**
**stdout.log
.project
.swp
private-docs
/application.properties
!src/main/resources/templates/**/*.html
.jekyll-metadata
.sass-cache
test
admin-lte
dist/octopus/**