
<div class="row">
  <div class="col-md-6 col-md-offset-3"> 
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">General Settings</h3>
      </div>
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <label>Parallel task limit</label>
            <input class="form-control" name="maxParallel" type="number" value="64" max="64"/>
          </div>
        </div>
        <div class="box-body">
          <div class="form-group">
            <label>Task check interval (sec.)</label>
            <input class="form-control" name="taskCheckInterval" type="number" min="20" value="30"/>
          </div>
        </div>
        <div class="box-footer"><a class="btn btn-danger js-cancel-btn">Close</a><a class="ladda-button btn btn-primary pull-right js-save-btn" data-style="expand-left">Save</a></div>
      </form>
    </div>
  </div>
</div>