.row 
  .col-md-8.col-md-offset-2.js-connections
    .box(style="border-top=0px")
      .box-header.with-border
        h3.box-title Connections
        .box-tools.pull-right
          .has-feedback.table-search
            input.form-control.input-sm.js-search-connections(type='text', placeholder='Search connection')
            span.glyphicon.glyphicon-search.form-control-feedback
      .box-body.no-padding
        .table-controls
          a.btn.btn-default.btn-sm.js-reload-btn(type='button')
            i.fa.fa-refresh.text-blue.fa-lg
          a.js-item.js-new-plan.btn.btn-default.btn-sm(href='#/connections/new')
            i.fa.fa-plus.text-green.fa-lg
          a.js-item.btn.btn-default.btn-sm.js-import-btn(href='#/connections/import' data-toggle="tooltip" title="Import")
            i.fa.fa-upload.text-yellow.fa-lg
          a.js-trash-btn.btn.btn-default.btn-sm.hidden
            i.fa.fa-trash-o.text-danger.fa-lg
          a.js-test-btn.btn.btn-default.btn-sm.hidden
            i.fa.fa-flask.text-yellow.fa-lg
          a.js-export-btn.btn.btn-default.btn-sm.hidden(data-toggle="tooltip" title="Export")
            i.fa.fa-download.text-green.fa-lg  

        
        .table-responsive.connection-items
          table.table.table-hover
            tbody.js-connection-table-body

      .box-footer.clearfix
        ul.pagination.pagination-sm.no-margin.pull-right  