.navbar-top-links {
    margin-right: 0;
}


.navbar-top-links li a {
    padding: 15px;
}


.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}
