.box-body
  .form-group.js-task-name
    label Name
    .input-group
      input.form-control.js-task-name(name="name", type='text', readonly=true)
      a.btn.btn-default.input-group-addon(href!='#/scheduler/tasks/<%= task.id %>') Go
  .form-group.js-retry-count
    label Retry Count
    input.form-control.js-task-name(value=0 name="retryCount", type='number' readonly=true)
  .form-group.js-retry-count
    label Priority
    div(style="min-width:400px")
      input.form-control.slider(style="min-width:400px", type='text', name='priority',data-slider-value=2)
  .form-group
    label Description
    textarea.form-control(style='height:263px;', name='description' readonly=true)