td(style="width:20px")
  .checkbox.js-checkbox
    input.styled(type='checkbox', value!='<%= id %>', aria-label='', name='checkbox')
    label
td(style="width:100px")
  span.label(class!='<%= label %>'  data-toggle="tooltip" title="Status") <%- status?status:'UNKNOWN' %> 
td(style="max-width:100px")
  a(href!='#/scheduler/task-instances/<%= id %>'  data-toggle="tooltip" title="Name") <%- task.name %>
td(style="max-width:100px")
  <% if(task.primaryGroup) {%>
  span.label(style!='background-color:<%= task.primaryGroup.color %>') <%- task.primaryGroup.name %> 
  <% } %>
td
  a.js-dependencies(model-id!='<%- id %>' href='javascript:void(0);'  data-toggle="tooltip" title="Dependencies") <%- dependencies.length %>
td(style="width:200px")
  span(data-toggle="tooltip" title="Session start date") <%= color.startDate  %>
td(style="width:200px")
  span(data-toggle="tooltip" title="Session end date") <%= color.endDate %>
td
  .progress.progress-striped(style="margin-bottom:0px;" data-toggle="tooltip" title="Progress")
    .progress-bar.progress-bar-info(role='progressbar', style!='width: <%=progress%>%;')
      | <%- progress %>%