div.no-connection
  div(style="width:230px;")
    i.fa.big-icon.text-info.fa-cubes(style="text-align: center;")
  div(style="width: 230px;margin-top: 20px;")
    a.btn.btn-block.btn-primary.btn-lg.js-new-group(href='#/scheduler/groups/new') Create Task Group