div.no-connection(style="width:330px; display: table-cell;vertical-align: middle;text-align: center;")
  div(style="width:100%; display: inline-block;")
    i.fa.big-icon.text-green.fa-exclamation(style="text-align: center;")
  div(style="width:100%; margin-top: 20px;display: inline-block;")
    span.text-gray-harbor(style="font-size:20px;") No alert exist :)  