doctype html
html
  head
    title Octopus
    link(rel="icon" type="image/png" href="/img/logo.png")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    script(type="text/javascript" src="/bower_components/PACE/pace.js")
    link(rel='stylesheet', href='/bower_components/PACE/themes/white/pace-theme-minimal.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='/bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-slider/dist/css/bootstrap-slider.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css')    
    link(rel='stylesheet', href='/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/selectize/dist/css/selectize.bootstrap3.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-daterangepicker/daterangepicker.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css')

    link(rel='stylesheet', href='/css/skins/skin-blue.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body.skin-blue.sidebar-mini.sidebar-collapse
    header.main-header
      a.logo(href='#')
        span.logo-mini
          b O
        span.logo-lg
          b Octopus
      nav.navbar.navbar-static-top
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          i.fa.fa-bars(aria-hidden="true")
          span.sr-only Toggle navigation
        ul.nav.navbar-top-links.navbar-right
          li(style="float:left")
            a(href="#/search", aria-expanded='false')
              i.fa.fa-search.fa-fw.fa-lg
          li.hidden.js-alert-btn(style="float:left")
            a(href='#/alerts', aria-expanded='false')
              i.fa.fa-bell.fa-fw.fa-lg.animated.infinite.swing
              span.label.label-danger
          li.dropdown(style="float:left")
            a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
              i.fa.fa-user-circle-o.fa-fw.fa-lg
              span.js-nav-username(style="padding-left:5px;")
            ul.dropdown-menu.dropdown-user
              li
                a(href='#/profile' style="padding:5px;")
                  i.fa.fa-user-o.fa-fw.fa-lg
                  | User Profile
              li
                a(href='#' style="padding:5px;")
                  i.fa.fa-sliders.fa-fw.fa-lg
                  |  Preferences
              li.divider
              li
                a(href='logout' style="padding:5px;")
                  i.fa.fa-sign-out.fa-fw.text-danger.fa-lg
                  |  Sign Out
        

    .wrapper        
      .content-wrapper(style='min-height: 916px;')

  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  script(rel='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  link(rel='stylesheet', href='/bower_components/ladda/dist/ladda-themeless.min.css')
  script(rel='text/javascript', src='/bower_components/ladda/dist/spin.min.js')
  script(rel='text/javascript', src='/bower_components/ladda/dist/ladda.min.js')
  script(rel='text/javascript', src='/bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js')
  script(rel='text/javascript', src='/bower_components/bootstrap-slider/dist/bootstrap-slider.min.js')
  script(rel='text/javascript', src='/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js')
  script(rel='text/javascript', src='/plugins/waitingfor/build/bootstrap-waitingfor.min.js')
  script(rel='text/javascript', src='/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')
  script(rel='text/javascript', src='/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
  script(rel='text/javascript', src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
  script(rel='text/javascript', src='/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
  script(rel='text/javascript', src='/bower_components/selectize/dist/js/standalone/selectize.min.js')
  script(rel='text/javascript', src='/bower_components/twbs-pagination/jquery.twbsPagination.min.js')
  script(rel='text/javascript', src='/bower_components/bootstrap-fileinput/js/plugins/sortable.min.js')
  script(rel='text/javascript', src='/bower_components/bootstrap-fileinput/js/fileinput.min.js')
  script(rel='text/javascript', src='/bower_components/moment/min/moment.min.js')
  script(rel='text/javascript', src='/bower_components/moment-duration-format/lib/moment-duration-format.js')

  script(rel='text/javascript', src='/bower_components/typeahead.js/dist/typeahead.bundle.min.js')
  script(rel='text/javascript', src='/bower_components/chart.js/dist/Chart.bundle.min.js')
  script(rel='text/javascript', src='/bower_components/zxcvbn/dist/zxcvbn.js')
  script(rel='text/javascript', src='/bower_components/bootstrap-daterangepicker/daterangepicker.js')
  script(rel='text/javascript', src='/bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')


  script(rel='text/javascript', src='/webjars/sockjs-client/sockjs.min.js')
  script(rel='text/javascript', src='/webjars/stomp-websocket/stomp.min.js')
  script(rel='text/javascript', src='/bower_components/push.js/bin/push.min.js')
  //- script(rel='text/javascript', src='/bower_components/d3/d3.min.js')
  
  //- script(rel='text/javascript', src='https://d3js.org/d3.v2.min.js')
  //- script(rel='text/javascript', src='https://bost.ocks.org/mike/fisheye/fisheye.js')
  
  

  script(rel='text/javascript', data-main="js/main", src="/bower_components/requirejs/require.js")
  