.row
  .col-lg-3.col-md-6
    .panel.panel-warning
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-gear.fa-5x
          .col-xs-9.text-right
            .huge <%- taskCount %>
            div Task Definition<%- taskCount>1?'s':'' %> 
      a(href='#/scheduler/tasks')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-info
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-calendar-check-o.fa-5x
          .col-xs-9.text-right
            .huge <%- planCount %>
            div Run Plan<%- planCount>1?'s':'' %>
      a(href='#/scheduler/plans')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-success
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-tasks.fa-5x
          .col-xs-9.text-right
            .huge <%- sessionCount %>
            div Active Sessions
      a(href='#/scheduler/sessions')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-danger
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-exclamation.fa-5x
          .col-xs-9.text-right
            .huge <%- errorCount %>
            div Alerts
      a(href='#/alerts')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
.row(style="margin-top:50px")
  .col-md-6.col-md-offset-3
    