.row
  .col-md-6.col-md-offset-3  
    .box.box-primary
      .box-header.with-border
        h3.box-title Parameter
      form(role='form')
        .box-body
          .form-group
            label Name
            input.form-control(name="name", type='text', required=true, autofocus=true)
          .form-group
            label Value
            input.form-control(name="value", type='text', required=true, autofocus=true)
          .form-group
            label Description
            textarea.form-control(name="description" rows="6")
        .box-footer
          a.btn.btn-danger.js-cancel-btn Cancel
          a.disabled.ladda-button.btn.btn-primary.pull-right.js-save-btn(data-style="expand-left") Save
          