@import "includes/base";

header {
  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 60px;
    margin-top: 180px;
  }
}

html, body {
  min-height: 100%;
  margin: 0;
}

a {
  text-decoration: none !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.42857143;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: sans-serif;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}

.content-wrapper, .right-side, .main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 0px !important;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.has-feedback {
    position: relative;
}

.no-padding {
    padding: 0 !important;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}

.connections-controls, .table-controls {
    padding: 5px;
}

.pull-right {
    float: right!important;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.hidden {
  display: none;
}


@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}

.mailbox-messages>.table {
  margin: 0;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}



.facebox-alert {
    color: #796620;
    background-color: #f8eec7;
    border-color: #f2e09a;
}
.facebox-alert, .facebox-danger {
    padding: 10px 15px;
    margin: -16px -15px 15px;
    border-style: solid;
    border-width: 1px 0;
}


.table-hover>tbody>tr:hover {
  background-color: #F4FAFF !important;
}




.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
  margin-left: -18px !important;
}

td .checkbox label, .radio label {
  cursor: default !important;
}

.selected-record {
  background-color: #F4FAFF !important
}

.slider-horizontal{
  margin-left: 20px !important;
}


#task-script {
  // position: absolute;
  height: 400px;
}

.script-editor {
  width : 100% !important;
  height: 420px !important;
}

.task-search {
  float : right !important;
  width : 60%   !important; 
}

.task-search .input-group-btn:first-child>.btn, 
.task-search  .input-group-btn:first-child>.btn-group {
    margin-right: -1px !important;
}

.star-item>i:hover{
  color: $yellow ;  
} 

.zero-item {
  margin: 100px auto;
  text-align: center;
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50px auto;
}



.glyphicon-search,
.box-header .box-title {
  color: #868686 !important
}

.bookmark-item .fa {
  vertical-align: -25%;
}

.bookmark-item>i:hover{
  color: $yellow ;  
} 

div.dataTables_wrapper{
  margin-right: 10px;
}


.box-shadow {
   -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.input-btn {
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: rgba(255, 229, 127, 0.24);
    /* opacity: 1; */
}