.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.table-controls .btn-sm:not(.btn-paging) {
  margin-right: 5px;
}



.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}


.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }


.table-controls .btn {
  opacity: 0.7;
  border-color: transparent;
  background-color: transparent;
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:hover{
    opacity: 1;
    background-color: transparent;
    border-color: transparent;
  }
}
