div[data-notify="container"].alert-success{
  border-color: #26A65B !important;  
}

div[data-notify="container"].alert-danger{
  border-color: #DB5A6B !important;  
}

div[data-notify="container"].alert-warning{
  border-color: #E08A1E !important;  
}