.password-background {
  position: relative;
  top: -34px;
  margin-bottom: -34px;
  height: 34px;
  width: 0;
  border-radius: 4px;
  z-index: 1;
  /* CSS Transitions */
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.new-password {
  background: none;
}

.strength {
  float: right;
}