.selectize-dropdown .title {
  display: block !important;
}

.selectize-dropdown .name {
  font-weight: bold;
}

.selectize-dropdown {
  margin-top: -4px !important;
  top: -4px !important;
}

.selectize-input {
  border-radius: 0px;
}