.row
  .col-md-12  
    .box.box-primary
      .box-header.with-border
        h3.box-title Task Import
      .box-body(style="min-height:320px")
        input.js-task-upload.file-loading(type='file', multiple='')
      .box-footer
        a.btn.btn-danger.js-cancel-btn Cancel