.row
  .col-md-6.col-md-offset-3  
    .box.box-primary
      .box-header.with-border
        h3.box-title Preferences
      .panel-body(style="height:400px")  
        form(name="profile-form", role='form')
          .box-body
            .form-group
              label Desktop Notifications
              fieldset
                .radio.radio-inline.radio-danger(style="display:inline")
                  input#radio-deno-1(type='radio', name='radio-deno', value='1', checked='1')
                  label(for='radio-deno-1')
                    | Enable
                .radio.radio-inline.radio-danger(style="display:inline")
                  input#radio-deno-2(type='radio', name='radio-deno', value='0')
                  label(for='radio-deno-2')
                    | Disable
              fieldset.js-deno(style="padding-top:10px;")
                .checkbox.checkbox-success
                  input#notification-sounds(type='checkbox', name='taskError', _value='yes', checked='1')
                  label(for='notification-sounds')
                    | Sounds  
                fieldset(style="display:inline; margin-right:20px;")
                  .checkbox.checkbox-info(style="padding-top:7px;")
                    input#task-error(type='checkbox', name='taskError', _value='yes', checked='1')
                    label(for='task-error')
                      | Show notifications for 
                      strong task errors 
                  .checkbox.checkbox-info(style="padding-top:7px;")
                    input#task-killed(type='checkbox', name='taskKilled', _value='yes')
                    label(for='task-killed')
                      | Show notifications for 
                      strong killed tasks 
                fieldset(style="display:inline")
                  .checkbox.checkbox-info(style="padding-top:7px;")
                    input#task-blocked(type='checkbox', name='taskBlocked', _value='yes')
                    label(for='task-blocked')
                      | Show notifications for 
                      strong blocked tasks 
                  .checkbox.checkbox-info(style="padding-top:7px;")
                    input#task-done(type='checkbox', name='taskDone', _value='yes')
                    label(for='task-done')
                      | Show notifications for 
                      strong tasks made done
              
      .box-footer
        a.btn.btn-danger.js-cancel-btn Close
        a.ladda-button.btn.btn-primary.pull-right.js-save-btn(data-style="expand-left") Save