.box-body
  .form-group.js-task-name
    label Name
    input.form-control.js-task-name(name="name", type='text', placeholder='Task name ...', required=true, autofocus=true)
  .form-group.js-retry-count
    label Retry Count
    input.form-control.js-task-name(value=0 name="retryCount", type='number', placeholder='', required=false, min='0')
  .form-group.js-retry-count
    label Priority
    div(style="min-width:400px")
      input.form-control.slider(style="min-width:400px", type='text', name='priority',data-slider-value=2)
  .form-group
      label Active
      fieldset
        .radio.radio-inline.radio-danger(style="display:inline")
          input#radio-active-1(type='radio', name='radio-active', value='1',checked='1')
          label(for='radio1')
            | Yes
        .radio.radio-inline.radio-danger(style="display:inline")
          input#radio-active-2(type='radio', name='radio-active', value='0')
          label(for='radio2')
            | No
  .form-group
    label Description
    textarea.form-control(rows='3', name='description')