a.js-fav.star-item.pull-left(href='javascript:void(0);' style='margin-right:20px' model-id!='<%- id %>')
  i.fa.fa-star-o.text-gray.fa-lg
a.js-item-name(href='#')
  | <%- name %>
a.js-rm-item.pull-right(href='javascript:void(0);' model-id!='<%- id %>')
  i.fa.fa-trash.text-danger.fa-lg