.row
  .col-md-6.col-md-offset-3  
    .box.box-primary
      .box-header.with-border
        h3.box-title Change Password
      .panel-body(style="height:400px")  
        form(name="profile-form", role='form')
          .box-body
            .form-group
              label Current password
              input.form-control(name="currentPassword", type='password', required=true, autocomplete="off", autofocus=true)
            .form-group
              label New password
              input.form-control.new-password(name="newPassword", type='password', autocomplete="off",  required=true)
              .password-background
              a.show-password(href="javascript:void(0)") Show password
              span.strength
            .form-group
              label Confirm new password
              input.form-control(name="confirmNewPassword", type='password', required=true, autocomplete="off")
      .box-footer
        a.btn.btn-danger.js-cancel-btn Cancel
        a.ladda-button.btn.btn-primary.pull-right.js-save-btn(data-style="expand-left") Save