
<td style="width:20px;">
  <div class="checkbox js-connection-checkbox">
    <input class="styled" type="checkbox" value="<%= id %>" aria-label="" name="connection-checkbox"/>
    <label></label>
  </div>
</td>
<td class="connection-name"><a href="#/connections/<%= id %>"><%- name %></a></td>
<td class="connection-type"><b><%- connectionType %> </b></td>
<td class="connection-host"><%- host || jdbcUrl %></td>
<td><% if(status < 0) {%><i class="fa fa-frown-o text-danger fa-lg" data-toggle="tooltip" title="Down"></i><%}else if(status > 0) {%><i class="fa fa-smile-o text-green fa-lg" data-toggle="tooltip" title="Up"></i><%}%></td>