.row 
  .col-md-6
    .box(style="border-top=0px")
      .box-header
        h3.box-title Plan Tasks
      .box-body.no-padding
        canvas.js-plan-stats(width='400', height='200')
  .col-md-6
    .box(style="border-top=0px")
      .box-header
        h3.box-title Group Tasks
      .box-body.no-padding
        canvas.js-group-stats(width='400', height='200')