.row 
  .col-md-6
    .box(style="border-top=0px")
      .box-header
        h3.box-title Plan Tasks
      .box-body
        canvas.hidden.js-plan-stats(width='400')
        div.lo-center.zero-data.js-plan-stats-zd(style="background-color:white; width:200px; height:100%;")
          div(style="width:200px;")
            i.fa.big-icon.text-gray-harbor.fa-calendar-check-o(style="text-align: center;")
          div(style="width:100%; margin-top: 20px;display: inline-block;")
            span.text-gray-harbor(style="font-size:20px;") You do not have any plan yet!
          div(style="width: 200px; margin-top:20px;")
            a.hidden.btn.btn-block.btn-primary.btn-lg.js-new-connection(href='#/scheduler/plans/new') Create Plan
  .col-md-6
    .box(style="border-top=0px" )
      .box-header
        h3.box-title Group Tasks
      .box-body
        canvas.hidden.js-group-stats(width='400')
        div.lo-center.zero-data.js-group-stats-zd(style="background-color:white; width:200px; height:100%;")
          div(style="width:200px;")
            i.fa.big-icon.text-gray-harbor.fa-cubes(style="text-align: center;")
          div(style="width:100%; margin-top: 20px;display: inline-block;")
            span.text-gray-harbor(style="font-size:20px;") You do not have any group yet!  
          div(style="width: 200px;margin-top: 20px;")
            a.hidden.btn.btn-block.btn-primary.btn-lg.js-new-group(href='#/scheduler/groups/new') Create Group
//- .row
//-   .col-md-6
//-     .box(style="border-top=0px" )
//-       .box-header
//-         h3.box-title Dependencies
//-       .box-body#chart1
        