
<section class="sidebar" style="height: auto;">
  <ul class="sidebar-menu">
    <li><a href="#/scheduler"><i class="fa fa-home"></i><span>General</span></a></li>
    <li><a class="js-nav-scheduler" href="#/scheduler/sessions"><i class="fa fa-tasks"></i><span>Sessions</span></a></li>
    <li><a href="#/scheduler/plans"><i class="fa fa-calendar-check-o"></i><span>Run Plans</span></a></li>
    <li><a href="#/scheduler/groups"><i class="fa fa-cubes"></i><span>Groups</span></a></li>
    <li><a href="#/scheduler/parameters"><i class="fa fa-code"></i><span>Parameters</span></a></li>
    <li><a class="js-nav-connections" href="#/connections"><i class="fa fa-plug"></i><span>Connections</span></a></li>
    <li><a class="js-nav-users" href="#/users"><i class="fa fa-users"></i><span>Users</span></a></li>
    <li><a class="js-nav-users" href="#/settings"><i class="fa fa-wrench"></i><span>Settings  </span></a>
      <ul class="treeview-menu">
        <li><a href="#/settings/general"><i class="fa fa-cogs"></i>General</a></li>
        <li><a href="#/settings/mail"><i class="fa fa-envelope-o"></i>Mail</a></li>
        <li><a href="#/settings/slack"><i class="fa fa-slack"></i>Slack</a></li>
      </ul>
    </li>
    <li><a class="js-nav-users" href="#/reports"><i class="fa fa-bar-chart"></i><span>Reports</span></a></li>
    <li><a href="" onclick="window.location='https://github.com/bluecolor/octopus'" target="_blank"><i class="fa fa-lg fa-github"></i><span>Project Home</span></a>
      <ul class="treeview-menu">
        <li> <a class="js-nav-users" href="https://github.com/bluecolor/octopus/wiki" target="_blank"><i class="fa fa-book"></i><span>Documentation</span></a></li>
        <li> <a class="js-nav-users" href="https://github.com/bluecolor/octopus/issues" target="_blank"><i class="fa fa-bug"></i><span>Report an Issue</span></a></li>
      </ul>
    </li>
  </ul>
</section>