a.js-fav.star-item.pull-left(href='#' style='margin-right:20px')
  i.fa.fa-star-o.text-gray.fa-lg
a.js-item-name(href='', model-id!='<%- id %>')
  | <%- name %>
a.js-rm-item.pull-right(href='#')
  i.fa.fa-trash.text-danger.fa-lg