.row
  .col-md-6.col-md-offset-3  
    .box.box-primary
      .box-header.with-border
        h3.box-title Mail Settings
      form(role='form')
        .box-body
          .form-group
            label Mail service active
            fieldset
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-service-1(type='radio', name='active', _value='yes', checked='1')
                label(for='radio-service-1')
                  | Yes
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-service-2(type='radio', name='active', _value='no')
                label(for='radio-service-2')
                  | No
          .row
            div.col-xs-9
              .form-group
                label Host
                input.form-control(name="host" type='text' placeholder='Host or IP Address')
            div.col-xs-3
              .form-group
                label Port
                input.form-control(name="port" type='number' value="25" min="1" max="65535")
          .form-group
            label Username
            input.form-control(name="username" type='text' placeholder='Username ...')
          .form-group
            label Password
            input.form-control(name="password" type='password' placeholder='Password ...')  
          .form-group
            label Connection security
            fieldset
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-con-sec-ssl(type='radio', name='consec', _value='ssl', checked='1')
                label(for='radio-con-sec-ssl')
                  | SSL
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-con-sec-tls(type='radio', name='consec', _value='tls')
                label(for='radio-con-sec-tls')
                  | TLS
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-con-sec-none(type='radio', name='consec', _value='none')
                label(for='radio-con-sec-none')
                  | None
          .form-group
            label Send from
            input.form-control(name="sendFrom" type='text' placeholder='sender@yourdomain.com')  
          .form-group
            label Send task mail to
            fieldset
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-mail-1(type='radio', name='sendTo', _value='o')
                label(for='radio-mail-1')
                  | Owners
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-mail-2(type='radio', name='sendTo', _value='p', checked='0')
                label(for='radio-mail-2')
                  | Primary owner
              .radio.radio-inline.radio-danger(style="display:inline")
                input#radio-mail-3(type='radio', name='sendTo', _value='n', checked='1')
                label(for='radio-mail-3')
                  | Nobody        
        .box-footer
          a.btn.btn-danger.js-cancel-btn Cancel
          a.disabled.ladda-button.btn.btn-primary.pull-right.js-save-btn(data-style="expand-left") Save
          