td(style="width:20px")
  .checkbox.js-checkbox
    input.styled(type='checkbox', value!='<%= id %>', aria-label='', name='checkbox')
    label
td(style="width:570px")
  div(style="height:100%; width:100%; overflow: hidden;")
    div.session-status
      span.label(style="border-radius:0px;" class!='<%= label %>'  data-toggle="tooltip" title="Status") <%- status %> 
    div.session-name
      a(href!='#/scheduler/task-instances?session=<%=id%>'  data-toggle="tooltip" title="Name") <%- name %>
  div.session-detail(style="height:100%; width:100%; overflow: hidden;")
    div.session-stat(style="padding-right:2px;")
      a(href!='#/scheduler/sessions/<%=id%>'  data-toggle="tooltip" title="See tasks") details
    div.session-detail-label(data-toggle="tooltip" title="Completed tasks")
      span completed: 
    div.session-stat
      a(href!='#/scheduler/task-instances?session=<%=id%>'  data-toggle="tooltip" title="See tasks") <%=`${stats.success+stats.done}/${stats.total}` %>
    <% if(stats.error > 0) { %>
    div.session-detail-label(data-toggle="tooltip" title="Errors")
      span.text-danger(style="font-weight:bold;") error: 
    div.session-stat
      a(href!='#/scheduler/task-instances?session=<%=id%>'  data-toggle="tooltip" title="See tasks") <%=stats.error %>
    <% } %>
    <% if(plan) { %>
    div.session-detail-label(data-toggle="tooltip" title="Completed tasks")
      span plan: 
    div.session-plan
      a(href!='#/scheduler/plans/<%= plan.id %>'  data-toggle="tooltip" title="See tasks") <%- plan.name %>
    <% } %>


td(style="width:200px")
  span(data-toggle="tooltip" title="Session start date") <%= color.startDate %>
td(style="width:200px")
  span(data-toggle="tooltip" title="Session end date") <%= color.endDate %>

td
  .progress.progress-striped(style="margin-bottom:0px;")
    .progress-bar.progress-bar-info(role='progressbar', style!='width: <%=progress%>%;')
      | <%=progress%>%