div.no-connection(style="width:330px; display: table-cell;vertical-align: middle;text-align: center;")
  div(style="width:100%; display: inline-block;")
    i.fa.big-icon.text-gray-harbor.fa-tasks(style="text-align: center;")
  div(style="width:100%; margin-top: 20px;display: inline-block;")
    span.text-gray-harbor(style="font-size:20px;") You do not have any active session!  
  div(style="width:70%; margin-top: 20px;display: inline-block;")
    a.btn.btn-danger.btn-lg.js-cancel-btn Close