.pull-right.hidden-xs
  b Version: &nbsp;
  span.js-version 0.4.35
  
  b &nbsp;&nbsp; Build date: &nbsp;
  span.js-build-date 
strong
  | Copyright © 2016-2017 
  a(href='https://github.com/bluecolor') bluecolor
  | .
|  All rights
|     reserved.