<a class="logo" href="#"><span class="logo-mini"><b>O</b></span><span class="logo-lg"><b>Octopus</b></span></a>
<nav class="navbar navbar-static-top"><a class="sidebar-toggle" href="#" data-toggle="offcanvas" role="button"><i class="fa fa-bars" aria-hidden="true"></i><span class="sr-only">Toggle navigation</span></a>
  <ul class="nav navbar-top-links navbar-right">
    <li style="float:left;"><a href="#/search" aria-expanded="false"><i class="fa fa-search fa-fw fa-lg"></i></a></li>
    <li class="hidden js-alert-btn" style="float:left;"><a href="#/alerts" aria-expanded="false"><i class="fa fa-bell fa-fw fa-lg"></i><span class="label label-danger"></span></a></li>
    <li class="dropdown" style="float:left;"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"><i class="fa fa-user-circle-o fa-fw fa-lg"></i><span class="js-nav-username" style="padding-left:5px;"></span></a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#/profile" style="padding:5px;"><i class="fa fa-user-o fa-fw fa-lg"></i>User Profile</a></li>
        <li><a href="#/profile/preferences" style="padding:5px;"><i class="fa fa-sliders fa-fw fa-lg"></i> Preferences</a></li>
        <li class="divider"></li>
        <li><a href="logout" style="padding:5px;"><i class="fa fa-sign-out fa-fw text-danger fa-lg"></i> Sign Out</a></li>
      </ul>
    </li>
  </ul>
</nav>